<div class="jumbotron jumbotron-fluid py-3 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h5>{{ emailDetail.subject }}</h5>
        <h6>{{ emailDetail.from }} -> {{ emailDetail.to }}</h6>
      </div>
      <div class="col-4">
        <div>{{ emailDetail.date | date: "medium" }}</div>
        <div class="d-flex">
          <button class="btn btn-primary">
            <i class="fas fa-reply pr-2"></i>Reply
          </button>
          <button class="btn btn-primary mx-3">
            <i class="fas fa-forward pr-2"></i>Forward
          </button>
          <button class="btn btn-primary">
            <i class="fas fa-trash-alt pr-2"></i>Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-3">{{ emailDetail.body }}</div>
