<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/messages" routerLinkActive="active"
      >Messages</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contacts" routerLinkActive="active"
      >Contacts</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/preferences" routerLinkActive="active"
      >Preferences</a
    >
  </li>
  <li class="nav-item ml-auto">
    <button class="btn">
      devgal@angular.dev
      <i class="fas fa-chevron-down"></i></button
    ><button class="btn btn-primary ml-2">
      <i class="fas fa-home"></i></button
    ><button class="btn btn-primary ml-2">
      <i class="far fa-envelope"></i>&nbsp;New Message
    </button>
  </li>
</ul>
