<div class="email-preview">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
        <th scope="col" class="d-flex justify-content-center">
          <p class="m-0">Date</p>
          <div class="icon-sort ml-1 d-flex flex-column">
            <i
              class="fas fa-sort-up"
              [attr.data-toggle]="'buttonUp'"
              *ngIf="!toggleUp"
              (click)="sortDate($event)"
            ></i>
            <i
              class="fas fa-sort-down"
              [attr.data-toggle]="'buttonDown'"
              *ngIf="!toggleDown"
              (click)="sortDate($event)"
            ></i>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="cursor-pointer" *ngFor="let data of dataPreview">
        <td>{{ data.from | summary }}</td>
        <td>{{ data.subject | summary: 40 }}</td>
        <td>{{ data.date | date: "YYYY/MM/dd" }}</td>
      </tr>
    </tbody>
  </table>
</div>
