<div class="email-preview">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
        <th scope="col">
          Date
          <i class="fas fa-sort-up" *ngIf="toggle" (click)="sortDate()"></i>
          <i class="fas fa-sort-down" *ngIf="!toggle" (click)="sortDate()"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="cursor-pointer" *ngFor="let data of dataPreview">
        <td>{{ data.from | summary: 25 }}</td>
        <td>{{ data.subject | summary: 40 }}</td>
        <td>{{ data.date | date: "YYYY/MM/dd" }}</td>
      </tr>
    </tbody>
  </table>
</div>
